<header>
  <h1 id="banner">Mobiquity Code Challenge</h1>
  <h2>Google Calendar App</h2>
  <nav>
    <ul class="nav-bkgd">
      <li class="navbar" id="events">{{#link-to 'events'}}Events{{/link-to}}</li>
    <div id='calendar'></div>
    </ul>
  </nav>
</header>

{{outlet}}

<footer>
    Shannon Wynn | &copy;2015
  </footer>
