<header>
  <h1 id="banner">Mobiquity Code Challenge</h1>
  <h2 id="subtitle">Calendar App</h2>
  <nav>
    <ul class="nav-bkgd">
      <li class="navbar" id="home">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li class="navbar" id="events">{{#link-to 'events'}}Event Tracker{{/link-to}}</li>
<!--    <div id='calendar'></div> -->
    </ul>
  </nav>
</header>

{{outlet}}

<footer>
    Shannon Wynn | &copy;2015
  </footer>
