  <header></header>
  <article>
    <form role="form">
      <div class="form-group">
        <label for='eventTitle'>Event:</label>
        {{input id="eventTitle" class="form-control" value=eventTitle placeholder="Event title"}}
      </div>
      <div class="form-group">
        <label for='eventDate'>Date and Time:</label>
        {{input type='datetime-local' class="form-control" value=newEvent}}
      </div>
      <button class='btn btn-primary' {{action 'save'}}>Post Entry</button>
    </form>

    <!-- Google Auth button -->
    <button id="authorize-button" style="visibility: hidden">Authorize</button>
    <div id='calendar'></div>
    
  </article>

    {{outlet}}


    <footer></footer>
